vagrant.yml
.vagrant/
ansible/roles/geerlingguy.*
ansible/roles/geerlingguy.*/*
ansible/roles/geerlingguy.*/*/*
ansible/roles/rheinwerk.mysql/
ansible/roles/rheinwerk.mysql/*
ansible/roles/rheinwerk.mysql/*/*
ansible/roles/oefenweb.composer/
ansible/roles/oefenweb.composer/*
ansible/roles/oefenweb.composer/*/*
ansible/roles/iroquoisorg.mysql/
ansible/roles/iroquoisorg.php5/
